@font-face{
	src:url(fonts/RobotoSlab-Bold.ttf);
	font-family: RSBold;
}

@font-face{
	src:url(fonts/RobotoSlab-Light.ttf);
	font-family: RSLight;
}

@font-face{
	src:url(fonts/RobotoSlab-Regular.ttf);
	font-family: RSRegular;
}

@font-face{
	src:url(fonts/RobotoSlab-Thin.ttf);
	font-family: RSThin;
}

body{
	font-family: RSRegular;
}

.over{
	overflow: hidden;
}

nav.navbar.navbar-default {
	background: transparent;
	padding: 7px 0px;
	border: none;
	transition: 0.4s;
}

nav.navbar.navbar-default.bg_black{
	background: #2c3e50;
	transition: 0.4s;
	padding: 12px 0px;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
	transition: 0.4s;
	font-size: 15px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: whitesmoke;
}

.header {
	width: 100%;
	height: 200px;
	background-image: url(images/header-1.png);
	background-attachment: fixed;
	margin-bottom: 50px;
}

.news h3 {
    border-bottom: 2px solid #7f8c8d;
    color: #34495e;
    font-size: 20px;
    padding-bottom: 4px;
}

.one_news {
	border-bottom: 1px solid #7f8c8d;
	padding-bottom: 16px;
	margin-top: 20px;
	height: auto;
}

.one_news img{
	width: 100%;
	height: 158px;
}

.one_news a.title {
	font-size: 21px;
	font-weight: bold;
	font-family: RSLight;
	color: black;
	display: inline-block;
	transition: 0.4s;
}

.one_news a.category {
	color: #2c3e50;
	margin: 10px 12px 10px 0px;
	display: inline-block;
	font-weight: 600;
	position: relative;
	padding-right: 3px;
}

.one_news a.category:after {
	content: "";
	width: 8px;
	height: 2px;
	background: gray;
	position: absolute;
	right: -18%;
	top: 50%;
}

.one_news span {
	color: gray;
	font-family: RSLight;
}

.one_news p {
	color: #2c3e50;
	font-size: 13px;
}

*{
	margin:0;
	padding: 0;
}

@media (max-width: 576px) {
	
	*{
		margin:0;
		padding: 0;
	}

	.navbar-default .navbar-collapse {
		background: #34495e;
		text-align: center;
	}

	.navbar-default .navbar-collapse ul.navbar-nav {
		width: 100%;
		margin: auto;
	}

	.navbar-collapse ul.navbar-nav li {
		border-bottom: 1px dotted gray;
	}

	.news .ads img {
		width: 60%;
		margin: 10px auto;
	}
}