@font-face{
	src:url(fonts/RobotoSlab-Bold.ttf);
	font-family: RSBold;
}

@font-face{
	src:url(fonts/RobotoSlab-Light.ttf);
	font-family: RSLight;
}

@font-face{
	src:url(fonts/RobotoSlab-Regular.ttf);
	font-family: RSRegular;
}

@font-face{
	src:url(fonts/RobotoSlab-Thin.ttf);
	font-family: RSThin;
}

body{
	background: lightblue;
	font-family: RSRegular;
}

html,body {
    width: 100%;
    height: 100%;
    background-image: url(images/bg.png);
    background-position: center;
}

.title {
    background: #c0392b;
    width: 100%;
    padding: 30px 0px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.title h1 {
    margin-top: 0px;
    font-family: RSRegular;
}

.title h4 {
    font-family: RSLight;
    font-style: italic;
    color: whitesmoke;
}

.content_left {
    padding: 20px 20px;
    border-right: 1px solid whitesmoke;
}

.content_left h4 {
    color: white;
    letter-spacing: 1px;
    font-family: RSLight;
    line-height: 28px;
}

.content_right {
    padding: 20px 20px;
}

.content_right .button_one,
.content_right .button_two,
.content_right .button_three,
.content_right .button_four,
.content_right .button_five,
.content_right .button_six,
.content_right .button_seven,
.content_right .button_eight,
.content_right .button_nine,
.content_right .button_ten {
    background: white;
    display: inline-block;
    padding: 10px 36px;
    border-radius: 2px;
    margin-right: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.4s;
}

.content_right .button_one:hover,
.content_right .button_two:hover,
.content_right .button_three:hover,
.content_right .button_four:hover,
.content_right .button_five:hover,
.content_right .button_six:hover,
.content_right .button_seven:hover,
.content_right .button_eight:hover,
.content_right .button_nine:hover,
.content_right .button_ten:hover {
    background: #27ae60;
    color: white;
}

.fuzzy {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: #00000040;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: 0.4s;
}

.fuzzy.show_right{
	opacity: 1;
	visibility: visible;
}

.content_one{
    width: 600px;
    height: 238px;
    background: #27ae60;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
    margin-left: -300px;
    margin-top: -119px;
    border-radius: 4px;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.5);
}

.content_one.show_one{
	opacity: 1;
	transform: scale(1);
	visibility: visible;
}

.content_two{
    width: 600px;
    height: 238px;
    background: #27ae60;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
    margin-left: -300px;
    margin-top: -119px;
    border-radius: 4px;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    transform: translateX(300px);
}

.content_two.show_two{
	opacity: 1;
	transform: translateX(0px);
	visibility: visible;
}

.content_three{
    width: 600px;
    height: 238px;
    background: #27ae60;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
    margin-left: -300px;
    margin-top: -119px;
    border-radius: 4px;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(300px);
}

.content_three.show_three{
	opacity: 1;
	transform: translateY(0px);
	visibility: visible;
}

.content_four{
    width: 600px;
    height: 238px;
    background: #27ae60;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
    margin-left: -300px;
    margin-top: -119px;
    border-radius: 4px;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-300px);
}

.content_four.show_four{
	opacity: 1;
	transform: translateX(0px);
	visibility: visible;
}

.content_five{
    width: 600px;
    height: 238px;
    background: #27ae60;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
    margin-left: -300px;
    margin-top: -119px;
    border-radius: 4px;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-300px);
}

.content_five.show_five{
	opacity: 1;
	transform: translateY(0px);
	visibility: visible;
}

.content_six{
    width: 600px;
    height: 238px;
    background: #27ae60;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
    margin-left: -300px;
    margin-top: -119px;
    border-radius: 4px;
    transition: 0.8s;
    opacity: 0;
    visibility: hidden;
    transform: rotate(720deg) scale(0.4);
}

.content_six.show_six{
	opacity: 1;
	transform: rotate(0deg) scale(1);
	visibility: visible;
}

.content_seven{
    width: 600px;
    height: 238px;
    background: #27ae60;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
    margin-left: -300px;
    margin-top: -119px;
    border-radius: 4px;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    transform: rotate(0deg) scale(2);
}

.content_seven.show_seven{
	opacity: 1;
	transform: rotate(0deg) scale(1);
	visibility: visible;
}

.content_eight{
    width: 600px;
    height: 238px;
    background: #27ae60;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
    margin-left: -300px;
    margin-top: -119px;
    border-radius: 4px;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    transform-origin: 0% 90%;
    transform: rotate(40deg) scale(2);
}

.content_eight.show_eight{
	opacity: 1;
	transform: rotate(0deg) scale(1);
	visibility: visible;
}

.content_nine{
    width: 600px;
    height: 238px;
    background: #27ae60;
    position: fixed;
    top: -100%;
    left: 50%;
    z-index: 3;
    margin-left: -300px;
    border-radius: 4px;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
}

.content_nine.show_nine{
	opacity: 1;
	top: 0%;
	visibility: visible;
}

._3d_ten{
	position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;   
	perspective: 700px;
}

.content_ten{
    width: 600px;
    height: 238px;
    background: #27ae60;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
    margin-left: -300px;
    margin-top: -119px;
    border-radius: 4px;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    transform-origin: 50% 0%;
    transform: rotateY(90deg);
}

.content_ten.show_ten{
	opacity: 1;
	transform: rotateY(0deg);
	visibility: visible;
}

.content_one h3,
.content_two h3,
.content_three h3,
.content_four h3,
.content_five h3,
.content_six h3,
.content_seven h3,
.content_eight h3,
.content_nine h3,
.content_ten h3 {
    background: #2ecc71;
    margin-top: 0px;
    padding: 15px 15px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
}

.content_one p,
.content_two p,
.content_three p,
.content_four p,
.content_five p,
.content_six p,
.content_seven p,
.content_eight p,
.content_nine p,
.content_ten p {
    line-height: 24px;
    padding: 10px 15px;
    color: whitesmoke;
    font-family: RSLight;
    font-style: italic;
}

.content_one .button_close,
.content_two .button_close,
.content_three .button_close,
.content_four .button_close,
.content_five .button_close,
.content_six .button_close,
.content_seven .button_close,
.content_eight .button_close,
.content_nine .button_close,
.content_ten .button_close{
    background: #1b9e52;
    text-align: center;
    color: white;
    font-size: 20px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.content_one .button_close:hover,
.content_two .button_close:hover,
.content_three .button_close:hover,
.content_four .button_close:hover,
.content_five .button_close:hover,
.content_six .button_close:hover,
.content_seven .button_close:hover,
.content_eight .button_close:hover,
.content_nine .button_close:hover,
.content_ten .button_close:hover {
    background: #108c44;
}

*{
	margin:0;
	padding: 0;
}