@font-face{
	src:url(fonts/RobotoSlab-Bold.ttf);
	font-family: RSBold;
}

@font-face{
	src:url(fonts/RobotoSlab-Light.ttf);
	font-family: RSLight;
}

@font-face{
	src:url(fonts/RobotoSlab-Regular.ttf);
	font-family: RSRegular;
}

@font-face{
	src:url(fonts/RobotoSlab-Thin.ttf);
	font-family: RSThin;
}

body{
	background: lightblue;
	font-family: RSRegular;
}

*{
	margin: 0;
	padding: 0;
}

.over {
    border: 1px solid lightseagreen;
    margin: 30px auto;
}

.onepro{padding: 0px 10px;}

.parent {
    width: 100%;
    height: 164px;
    margin: 10px auto;
    position: relative;
    cursor: pointer;
}

.parent img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.parent .black {
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.parent .button_play {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 62px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent .button_play i {
    transition: 0.3s;
    opacity: 0;
    transform: scale(0.3);
}

.parent:hover .black {
    opacity: 0.2;
}

.parent:hover i {transform: scale(1);opacity: 1;}
