@font-face{
	src:url(fonts/RobotoSlab-Bold.ttf);
	font-family: RSBold;
}

@font-face{
	src:url(fonts/RobotoSlab-Light.ttf);
	font-family: RSLight;
}

@font-face{
	src:url(fonts/RobotoSlab-Regular.ttf);
	font-family: RSRegular;
}

@font-face{
	src:url(fonts/RobotoSlab-Thin.ttf);
	font-family: RSThin;
}

body{
	font-family: RSRegular;
}

.over{
	overflow: hidden;
}

.navbar-default {
	padding: 10px 0px;
	border: none;
	box-shadow: none;
	background: #ecf0f1;
	margin-bottom: 0px;
}

.navbar-default .navbar-brand {
	color: #2c3e50;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 24px;
}

.navbar-default .navbar-nav>li>a {
	font-size: 16px;
	font-family: sans-serif;
	color: #2c3e50;
}

.header {
	width: 100%;
	height: 700px;
	padding: 210px 0px;
	background-image: url(images/001.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.header h1 {
	font-size: 54px;
	color: white;
	font-weight: bold;
	font-family: sans-serif;
	margin-bottom: 20px;
}

.header h5 {
	color: white;
	font-family: sans-serif;
	font-size: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
}

.header h5:after {
	content: "";
	width: 340px;
	height: 2px;
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -170px;
	background: white;
}

.header a {
	padding: 10px 25px;
	margin: 0px 5px;
	background: white;
	color: #2c3e50;
	border: none;
	width: 124px;
}

.header i {
	padding-right: 5px;
}

.part {
	padding: 50px 0px;
	background: #ecf0f1;
}

.part.bg_white{
	background: white;
}

.part.bg_white h3 {
	font-family: sans-serif;
	font-weight: bold;
	padding: 20px 0px;
	position: relative;
}

.part.bg_white h3:before {
	content: "";
	width: 150px;
	height: 2px;
	background: #bdc3c7;
	position: absolute;
	top: 0px;
	right: 0px;
}

.part h3 {
	font-family: sans-serif;
	font-weight: bold;
	padding: 20px 0px;
	position: relative;
}

.part h3:before {
	content: "";
	width: 150px;
	height: 2px;
	background: #bdc3c7;
	position: absolute;
	top: 0px;
	left: 0px;
}

.part p {
	width: 480px;
	line-height: 26px;
	font-family: sans-serif;
}

.nenxanh{
	width: 100%;
	height: 20px;
	background: #f39c12;
}

.connect {
	padding: 78px;
	background-image: url(images/001.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.connect h3 {
	font-size: 28px;
	font-family: sans-serif;
}

.connect .row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .row .nut {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.connect a {
	background: white;
	color: #2c3e50;
	padding: 10px 24px;
	margin: 0px 6px;
}

.connect i {
	padding-right: 15px;
}

.footer {
	padding: 40px;
}

.footer .danhmuc ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.footer .danhmuc ul li {
	margin: 0px 16px;
}

*{
	margin:0;
	padding: 0;
}

@media (max-width: 768px) {

	.navbar-default ul.navbar-nav {
		width: 100%;
		margin: auto;
		text-align: center;
	}

	.navbar-default ul.navbar-nav li {
		padding: 5px;
		border-bottom: 1px dotted #34495e;
	}

	.navbar-default ul.navbar-nav li:last-child {
		border-bottom: none;
	}

	.header h1 {
		font-size: 40px;
	}

	.header a {
		width: 118px;
		padding: 10px 18px;
		display: block;
		margin: 25px auto 24px auto;
	}

	.connect .row {
		display: inline-block;
		text-align: center;
		line-height: 67px;
	}

	.container .row .nut {
		display: inline-block;
	}

	.footer .danhmuc ul {
		justify-content: center;
	}

	*{
		margin:0;
		padding: 0;
	}
	
}

@media (max-width: 992px) and (min-width: 768px) {

	.connect{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.connect .row {
		display: inline-block;
		text-align: center;
		line-height: 67px;
	}

	.footer .danhmuc ul {
		justify-content: center;
	}

	*{
		margin:0;
		padding: 0;
	}
	
}