@font-face{
	src:url(fonts/RobotoSlab-Bold.ttf);
	font-family: RSBold;
}

@font-face{
	src:url(fonts/RobotoSlab-Light.ttf);
	font-family: RSLight;
}

@font-face{
	src:url(fonts/RobotoSlab-Regular.ttf);
	font-family: RSRegular;
}

@font-face{
	src:url(fonts/RobotoSlab-Thin.ttf);
	font-family: RSThin;
}

body{
	background: lightblue;
	font-family: RSRegular;
}

.over{
	margin: 20px auto;
	border: 1px solid whitesmoke;
}

.one_product{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px 10px;
	width: 292px;
	height: 360px;
}

.parent{
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
}

.parent img {
	height: 100%;
	width: 100%;
}

.parent .white {
	position: absolute;
	top: 5%;
	left: 8%;
	background-color: #f5f5f5d6;
	width: 86%;
	height: 90%;
	transition: 0.4s;
	z-index: 1;
	opacity: 0;
}

.parent:hover .white {
	opacity: 1;
}

.parent .icon{
	position: absolute;
	top: 30px;
	left: 30px;
	font-size: 45px;
	color: black;
	z-index: 2;
	opacity: 0;
	transition: 0.4s;
}

.parent:hover .icon {
	opacity: 1;
}

.parent .text {
	position: absolute;
	bottom: 30px;
	left: 30px;
	z-index: 3;
}

.parent .text h4 {
	font-family: RSBold;
	opacity: 0;
	transition: 0.6s;
	overflow: hidden;
	margin-bottom: 0px;
}

.parent:hover .text h4 {
	opacity: 1;
	transform: translateY(-10px);
}

.parent .text p {
	opacity: 0;
	transition: 1.8s;
	font-family: RSLight;
}

.parent:hover .text p {
	opacity: 1;
}

*{
	margin: 0px;
	padding: 0px;
}