@font-face{
	src:url(fonts/RobotoSlab-Bold.ttf);
	font-family: RSBold;
}

@font-face{
	src:url(fonts/RobotoSlab-Light.ttf);
	font-family: RSLight;
}

@font-face{
	src:url(fonts/RobotoSlab-Regular.ttf);
	font-family: RSRegular;
}

@font-face{
	src:url(fonts/RobotoSlab-Thin.ttf);
	font-family: RSThin;
}

body{
	background: lightblue;
	font-family: RSRegular;
}

.over{
	margin: 20px auto;
	border: 1px solid whitesmoke;
}

.one_product{
	margin: 20px auto;
}

.parent{
	background: whitesmoke;
	height: 300px;
	position: relative;
}

.parent img {
    width: 100%;
    height: 100%;
}

.parent .gray {
    width: 100%;
    height: 100%;
    background: whitesmoke;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.4s;
    border: 0px solid black;
    box-sizing: border-box;
    opacity: 0;
}

.parent:hover .gray {
    border: 10px solid #000000ba;
    opacity: 0.9;
}

*{
	margin: 0px;
	padding: 0px;
}

.parent .text {
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0;
    transition: 0.4s;
    overflow: hidden;
}

.parent:hover .text {
    opacity: 1;
}

.parent .text h3 {
    font-family: RSBold;
    transform: translateY(-20px);
    transition: 0.4s;
}

.parent:hover .text h3 {
    transform: translateY(0px);
}

.parent .text p {
    font-family: RSLight;
}



