@font-face{
	src:url(fonts/RobotoSlab-Bold.ttf);
	font-family: RSBold;
}

@font-face{
	src:url(fonts/RobotoSlab-Light.ttf);
	font-family: RSLight;
}

@font-face{
	src:url(fonts/RobotoSlab-Regular.ttf);
	font-family: RSRegular;
}

@font-face{
	src:url(fonts/RobotoSlab-Thin.ttf);
	font-family: RSThin;
}

body{
	font-family: RSRegular;
}

.over{
	overflow: hidden;
}

/*========== Menu ==========*/

nav.navbar.navbar-default {
	background: #2c3e50;
	border: none;
	padding: 25px 0px;
	transition: 0.4s;
}

nav.navbar.navbar-default.padd{
	padding: 10px 0px;
	transition: 0.4s;
}

.navbar-default .navbar-brand {
	color: white;
	font-size: 33px;
	font-weight: 700;
	font-family: sans-serif;
	letter-spacing: 1px;
}

.navbar-default .navbar-brand:hover {
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
	font-size: 19px;
	font-weight: 600;
	font-family: sans-serif;
	letter-spacing: 1px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: white;
}

/*========== Header ==========*/

.header {
	width: 100%;
	height: 730px;
	background: #18bc9c;
	padding-top: 195px;
}

.header img {
	width: 255px;
	height: 255px;
	margin: auto;
	margin-bottom: 48px;
}

.header h1 {
	font-size: 60px;
	font-family: sans-serif;
	color: white;
	font-weight: 700;
}

.header i {
	font-size: 24px;
	color: whitesmoke;
	padding: 0px 5px;
	margin: 11px 0px;
}

.header h3 {
	color: white;
	font-family: sans-serif;
	font-size: 26px;
}

/*========== Portfolio ==========*/

.portfoilo {
	padding: 100px 0px 95px 0px;
}

.portfoilo .title {
	margin-bottom: 30px;
}

.portfoilo h1 {
	font-size: 46px;
	font-family: sans-serif;
	font-weight: 600;
	color: #2c3e50;
}

.portfoilo i {
	font-size: 25px;
	color: #2c3e50;
}


.portfoilo .star {
	width: 232px;
	margin: auto;
	position: relative;
}

.portfoilo .star:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0px;
	width: 95px;
	height: 4px;
	margin-top: -2px;
	background: black;
}

.portfoilo .star:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0px;
	width: 95px;
	height: 4px;
	margin-top: -2px;
	background: black;
}


.portfoilo .khoi {
	position: relative;
	width: 100%;
	height: 260px;
	cursor: pointer;
	margin-bottom: 28px;
}

.portfoilo .khoi img {
	width: 100%; 
	height: 100%; 
}

.portfoilo .khoi i {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 70px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #18bc9c;
	opacity: 0;
	transition: 0.4s;
}

.portfoilo .khoi:hover i{
	opacity: 1;
}

/*========== About ==========*/

.about {
	padding: 95px 0px;
	background: #18bc9c;
	color: white;
}

.about .title {
	margin-bottom: 45px;
}

.about h1 {
	font-size: 46px;
	font-family: sans-serif;
	font-weight: 600;
	position: relative;
	padding-bottom: 15px;
}

.about i {
	font-size: 25px;
	color: white;
}

.about .star {
	width: 232px;
	margin: auto;
	position: relative;
}

.about .star:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0px;
	width: 95px;
	height: 4px;
	margin-top: -2px;
	background: white;
}

.about .star:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0px;
	width: 95px;
	height: 4px;
	margin-top: -2px;
	background: white;
}

.about p {
	font-size: 18px;
	font-family: sans-serif;
	line-height: 29px;
}

.about .button_down {
	margin-top: 42px;
}

.about .button_down a {
	font-size: 19px;
	font-family: sans-serif;
	padding: 18px 38px;
	border-radius: 3px;
	background: transparent;
	border-width: 2px;
	border-color: white;
	transition: 0.4s;
}

.about .button_down a:hover {
	color: black;
	background: white;
}

.about .button_down i {
	padding-right: 12px;
}

/*========== Contact ==========*/

.contact {
	padding: 97px 0px;
}

.contact h1 {
	font-family: sans-serif;
	font-weight: 700;
	font-size: 44px;
	margin-bottom: 11px;
}


.contact i {
	font-size: 25px;
	color: black;
}

.contact .star {
	width: 232px;
	margin: auto;
	position: relative;
}

.contact .star:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0px;
	width: 95px;
	height: 4px;
	margin-top: -2px;
	background: black;
}

.contact .star:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0px;
	width: 95px;
	height: 4px;
	margin-top: -2px;
	background: black;
}

.contact .info{
	margin-top: 42px;
}

.contact .info input,
.contact .info textarea {
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #f3eeee;
	padding: 17px 0px;
	font-size: 19px;
	font-family: sans-serif;
}

.contact .info input::-webkit-input-placeholder, 
.contact .info textarea::-webkit-input-placeholder {
	color: gray;
	font-size: 16px;
	font-style: italic;
}

.contact .info textarea{
	padding-bottom: 80px;
}

.contact a {
	margin-top: 10px;
	padding: 18px 32px;
	background: #18bc9c;
	border: none;
	transition: 0.4s;
}

/*========== Footer ==========*/

.footer_top {
	padding: 80px 0px;
	background: #2c3e50;
	color: white;
}

.footer_top h3 {
	font-family: sans-serif;
	font-weight: 600;
	margin-bottom: 30px;
}

.footer_top h5 {
	font-size: 18px;
	font-family: sans-serif;
}

.footer_top .icons i {
	width: 50px;
	height: 50px;
	margin: 0px 7px;
	border-radius: 50%;
	border: 2px solid white;
	font-size: 22px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.4s;
}

.footer_top .icons i:hover{
	color: #2c3e50;
	background: white;
}


.footer_bottom{
	background: #1a252f;
	padding: 30px 0px;
	color: whitesmoke;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer_bottom p {
	margin: 0px;
}



*{
	margin:0;
	padding: 0;
}

/*========================= Giao dien di dong 576px =========================*/
@media (max-width: 768px) {

	/*========== Menu ==========*/
	nav.navbar.navbar-default {
		padding: 10px 0px;
	}

	.navbar-default .navbar-brand {
		font-size: 20px;
	}

	.navbar-default ul.navbar-nav {
		width: 100%;
		margin: auto;
	}

	.navbar-default .navbar-nav>li {
		border-bottom: 1px dashed gray;
		padding: 5px 0px;
	}

	.navbar-default .navbar-nav>li>a {
		text-align: center;
		font-size: 14px;
	}

	.navbar-default .navbar-nav>li>a:hover{
		color: #18bc9c;
	}

	.navbar-default .navbar-nav>li>a:focus{
		color: #18bc9c;
	}

	/*========== Header ==========*/
	.header{
		height: 686px;
	}


	.header img {
		width: 150px;
		height: 150px;
	}

	.header h1 {
		font-size: 32px;
		margin-top: 0px;
	}

	.header i {
		font-size: 15px;
		margin: 0px;
	}

	.header h3 {
		font-size: 19px;
	}

	/*========== Portfolio ==========*/

	.portfoilo {
		padding: 70px 0px 60px 0px;
	}

	.portfoilo .khoi{
		height: 376px;
	}

	.portfoilo h1 {
		font-size: 26px;
	}

	/*========== About ==========*/

	.about h1{
		font-size: 26px;
		padding-bottom: 5px;
	}

	.about p{
		font-size: 15px;
	}

	.about .button_down a {
		padding: 12px 24px;
	}

	/*========== Contact ==========*/

	.contact h1{
		font-size: 26px;
	}

	/*========== Footer ==========*/

	.footer_top {
		padding: 5px 0px;
	}

	.footer_top .col-xs-12.col-sm-4 {
		border-bottom: 1px dotted gray;
		padding-bottom: 35px;
	}

	.footer_top .col-xs-12.col-sm-4:last-child {
		border-bottom: none;
	}

	.footer_top h3 {
		margin-bottom: 20px;
		margin-top: 44px;
		font-size: 18px;
	}

	.footer_top h5 {
		font-size: 14px;
	}
}

/*========================= Giao dien di dong 576px =========================*/
@media (max-width: 992px) and (min-width: 768px) {

	/*========== Menu ==========*/
	.navbar-default .navbar-brand {
		font-size: 20px;
	}

	.navbar-default .navbar-nav>li>a {
		font-size: 15px;
	}

	/*========== Header ==========*/
	.header h1 {
		font-size: 46px;
	}

	/*========== Header ==========*/
	.portfoilo .khoi{
		height: 190px;
	}

	/*========== Header ==========*/
	.footer_top .icons i{
		margin-bottom: 10px;
	}
}

/*========================= Giao dien di dong 992px =========================*/
@media (min-width: 992px) {

	/*========== Header ==========*/
	.footer_top .icons i{
		margin-bottom: 10px;
	}

	
	*{
		margin:0;
		padding: 0;
	}
}
