@font-face{
	src:url(fonts/RobotoSlab-Bold.ttf);
	font-family: RSBold;
}

@font-face{
	src:url(fonts/RobotoSlab-Light.ttf);
	font-family: RSLight;
}

@font-face{
	src:url(fonts/RobotoSlab-Regular.ttf);
	font-family: RSRegular;
}

@font-face{
	src:url(fonts/RobotoSlab-Thin.ttf);
	font-family: RSThin;
}

body{
	background: lightblue;
	font-family: RSRegular;
}

html,body{
	width: 100%;
	height: 100%;
	background-image: url(images/bg.png);
	background-position: center;
}

.container.over {
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.part {
    width: 100%;
    height: 175px;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
}

.part img {
    height: 175px;
    width: 100%;
}

.part .gray {
    width: 100%;
    height: 175px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: #00000021;
    transition: 0.4s;
}

.part:hover .gray {
    opacity: 0;
}

.part .gradient {
    width: 100%;
    height: 175px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-image: -webkit-linear-gradient(45deg,#00800063 0%,#ff81003b 50%,#0000005e 100%);
    transition: 0.4s;
    opacity: 0;
}

.part:hover .gradient {
    opacity: 1;
}

.part .square {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    border: 1px solid white;
    box-shadow: 1px 1px 2px 1px white;
    transition: 0.4s;
    opacity: 0;
    transform: scale(0.4);
    /* margin-left: -40%; */
    /* margin-top: -40%; */
}

.part:hover .square {
    opacity: 1;
    transform: scale(1);
}

.part .text_large {
    position: absolute;
    top: 45%;
    left: 0%;
    z-index: 3;
    color: white;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: RSLight;
    transition: 0.4s;
}

.part:hover .text_large {
    top: 33%;
}

.part .text_small {
    position: absolute;
    top: 55%;
    left: 50%;
    z-index: 3;
    width: 80%;
    margin-left: -40%;
    color: white;
    text-align: center;
    font-family: RSThin;
    font-style: italic;
    font-size: 14px;
    transition: 0.4s;
     opacity: 0; 
     transform: scale(0.4); 
}


.part:hover .text_small {
    opacity: 1;
    transform: scale(1);
}

*{
	margin:0;
	padding: 0;
}